body {
    background: linear-gradient(to right, #ede8f5, #c3bce3);
    font-family: Arial;
    font-size: 12pt;
    margin-left: 25px;
    margin-right: 25px;
}

h2 {
    color: #7091e6;
    font-family: monospace;
}

.portrait {
    margin: auto;
    float: right;
    box-shadow:
        0 5px 7px rgba(0,0,0, 0.1),
        0 2px 4px rgba(0,0,0, 0.08),
        0 0 0 5px #3d52a0,
        0 0 0 5px rgba(0,0,0, 0.1);
}

.name {
    color: #3d52a0;
    font-family: monospace;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-decoration: underline;
    text-decoration-color: #3d52a0;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.personal-info {
    color: rgb(78, 78, 78);
}

.favorite-books {
    color: rgb(78, 78, 78);
}

.links {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.poem {
    color: rgb(78, 78, 78);
    font-family: monospace;
}

.about-me {
    color: rgb(78, 78, 78);
}

.schedule {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.schedule th, .schedule td {
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 4px;
    text-align: center;
    width: 100px;
}

.schedule .time {
    background-color: rgb(233, 233, 233);
    width: 100px;
}

.schedule .days {
    background-color: rgb(233, 233, 233);
}

.schedule .free {
    background-color: lightgoldenrodyellow;
}

.schedule .school {
    background-color: #d0e0f0;
}

.schedule .homework {
    background-color: #f0d0d0;
}

.schedule .work {
    background-color: #d0f0d0;
}
